/panckageTopia/nbproject/private/
/pancake/nbproject/private/
/pancake/build/
/.github/MyFirstWebAppFor_ICS2608-20220926T021303Z-001/MyFirstWebAppFor_ICS2608/build/
/.github/MyFirstWebAppFor_ICS2608-20220926T021303Z-001/MyFirstWebAppFor_ICS2608/dist/
/.github/MyFirstWebAppFor_ICS2608-20220926T021303Z-001/MyFirstWebAppFor_ICS2608/nbproject/private/
/UST_2Y2S/JDBC_Web1/build/
/UST_2Y2S/JDBC_Web1/dist/
/UST_2Y2S/MP1_JDBC_Web/build/
/UST_2Y2S/MP1_JDBC_Web/dist/
/UST_2Y2S/MP1_JDBC_Web/nbproject/private/
