/panckageTopia/nbproject/private/
/pancake/nbproject/private/
/pancake/build/
/.github/MyFirstWebAppFor_ICS2608-20220926T021303Z-001/MyFirstWebAppFor_ICS2608/build/
/.github/MyFirstWebAppFor_ICS2608-20220926T021303Z-001/MyFirstWebAppFor_ICS2608/dist/
/.github/MyFirstWebAppFor_ICS2608-20220926T021303Z-001/MyFirstWebAppFor_ICS2608/nbproject/private/
