@import url('https://fonts.googleapis.com/css?family=Roboto:700&display=swap');
*{
	padding: 0;
	margin: 0;
}
.wrapper{
	background-color: white;
	background-size: cover;

}
.wrapper2{
	background-color: #115A7D;
	background-size: cover;
}
.navbar{
	position: fixed;
	height: 80px;
	width: 100%;
	top: 0;
	left: 0;
	background: #115A7D;
}
.navbar .logo{
	width: 140px;
	height: auto;
	padding: 1px 10px;
}
.logo{
	position: relative;
	top: -10px;
}
.navbar ul{
	float: right;
	margin-right: 20px;
}

.navbar2 ul{
	list-style: none;
	margin: 8px;
	display: flex;
	line-height: 80px;
}
.navbar2 ul li{
	color: white;
	font-size: 20px;
	font-family: sans-serif;
}
.navbar ul li{
	list-style: none;
	margin: 0 8px;
	display: inline-block;
	line-height: 80px;
}
.navbar ul li a{
	font-size: 20px;
	font-family: 'Roboto', sans-serif;
	color: white;
	padding: 6px 13px;
	text-decoration: none;
	transition: .4s;
}
.navbar2 ul li a{
	font-size: 20px;
	font-family: 'Roboto', sans-serif;
	color: white;
	padding: 6px 13px;
	text-decoration: none;
	transition: .4s;
}
.navbar ul li a.active,
.navbar ul li a:hover, .navbar2 ul li a.active, .navbar2 ul li a:hover{
	background: white;
	border-radius: 2px;
	color: #115A7D;
}

.navbar2 {
  background-color: #115A7D;
  overflow: hidden;
  position: fixed;
  bottom: 0;
  width: 100%;
}
.main{
	position: relative;
	top: 100px;
	font-family: 'Roboto';
	color: #115A7D;
	font-size: 24px;
}
.main table{
	width: 100%;
	text-align: center;
}
.book_cover{
	width: 157px;
	height: 267px;
}
.quantity{
	background-color: gray;
	text-align: center;
	width: 30%;
	font-size: 24px;
	color: white;
	border-radius: 5px;
}
.cell_quantity{
	width: 10%;
}
.Checkout{
	background-color: #115A7D;
	color: white;
	border-radius: 15px;
	font-size: 28px;
	padding: 5px;
	padding-left: 20px;
	padding-right: 20px;
	border: none;
	font-weight: bold;
}